@import '@shared/styles/variables';

.about-theme {
	background-color: $white;

	&__title {
		font-family: $font-family-primary;
		font-size: $h2-size-desktop;
		font-weight: $font-weight-medium;
		color: $black-primary;
		line-height: $line-height-tight;
		margin-bottom: $spacing-md;
		position: relative;
		padding-bottom: $spacing-md;

		&::after {
			content: '';
			position: absolute;
			bottom: 0;
			left: 0;
			width: 48px;
			height: 2px;
			background: $accent-green;
		}
	}

	&__description-block {
		display: flex;
		flex-direction: column;
		align-items: center;

		p {
			margin-top: $spacing-md;
		}
	}

	&__description {
		color: $black-secondary;
		line-height: $line-height-relaxed;
		margin: 0;
	}



	/* --- Desktop moyen (≤ 1280px) --- */
	@media (max-width: $breakpoint-lg) {
		padding: $section-padding-y-tablet 0;

		&__title {
			font-size: $h2-size-lg;
			margin-bottom: $title-margin-bottom-tablet;
		}
	}

	/* --- Tablette (≤ 1024px) --- */
	@media (max-width: $breakpoint-md) {
		&:not(:last-of-type) {
			border-bottom: $border;
		}
		
		&__title {
			font-size: $h2-size-md;
			margin-bottom: $title-margin-bottom-tablet;
		}
	}

	/* --- Mobile (≤ 768px) --- */
	@media (max-width: $breakpoint-sm) {
		padding: $section-padding-y-mobile 0;

		&__title {
			font-size: $h2-size-sm;
			margin-bottom: $title-margin-bottom-mobile;
		}

		&__description {
			font-size: $body-size-sm;
		}
	}

	/* --- Petit Mobile (≤ 480px) --- */
	@media (max-width: $breakpoint-xs) {
		&__title {
			font-size: $h2-size-xs;
		}
	}
}
