.hero {
	&__title {
		font-family: $font-family-primary;
		font-size: $h1-size-desktop;
		font-weight: $font-weight-medium;
		color: $black-primary;
		line-height: $line-height-tight;
		margin: 0;
	}

	&__tagline {
		color: $black-secondary;
	}

	&__description {
		color: $black-secondary;
	}

	&__ui-container {
		display: flex;
		gap: $spacing-xl;
		margin-top: $spacing-md;
		flex-wrap: wrap;
	}

	/* --- Desktop moyen (≤ 1280px) --- */
	@media (max-width: $breakpoint-lg) {

		&__title {
			font-size: $h1-size-lg;
		}
	}

	/* --- Tablette (≤ 1024px) --- */
	@media (max-width: $breakpoint-md) {
		&__title {
			font-size: $h1-size-md;
			max-width: 100%;
		}

		&__description {
			max-width: 100%;
		}

	}

	@media (max-width: 768px) {
		&__title {
			max-width: 100%;
			font-size: $h1-size-sm;
		}

		&__ui-container {
			flex-direction: column;
			gap: $spacing-lg;

			.button-primary,
			.button-tertiary {
				width: 100%;
				text-align: center;
			}
		}
	}

	/* --- Petit Mobile (≤ 480px) --- */
	@media (max-width: $breakpoint-xs) {
		&__title {
			font-size: $h1-size-xs;
		}
	}
}
