.hero {
	position: relative;
	padding: $spacing-5xl 0;
	background-color: $white-secondary;
	overflow: hidden;
	border-bottom: 1px solid $black-tertiary;


	&__content {
		display: flex;
	}

	&__text-column {
		display: flex;
		flex-direction: column;
		justify-content: center;
		width: 50%;
		gap: $spacing-md;
	}

	&__image-column {
		position: relative;
		display: flex;
		align-items: center;
		justify-content: center;
		width: 50%;
		height: auto;
	}

	&__image-wrapper {
		position: relative !important;
		display: flex;
		align-items: center;
		justify-content: center;
		top: 0;
		right: 0;
		width: 100%;
		height: auto;
		overflow: hidden;
	}

	&__image {
		position: relative !important;
		display: block;
		width: 80% !important;
		height: auto !important;
		margin: 0 auto;
	}

	/* --- Desktop moyen (≤ 1280px) --- */
	@media (max-width: $breakpoint-lg) {
		&__text-column .container {
			padding: 0 $container-padding-x-tablet;
		}
	}

	/* --- Tablette (≤ 1024px) --- */
	@media (max-width: $breakpoint-md) {
		min-height: auto;

		&__content {
			grid-template-columns: 1fr;
			min-height: auto;
		}

		&__text-column .container {
			padding: 0 $container-padding-x-tablet;
		}
	}

	/* --- Mobile (≤ 768px) --- */
	@media (max-width: $breakpoint-sm) {
		position: relative;
		padding: 0;
		margin-top: 0;
		background-color: $white;
		padding: $spacing-3xl 0;

		&__content {
			position: relative;
			display: flex;
			align-items: center;
			justify-content: center;
			flex-direction: column;
		}


		&__text-column {
			position: relative;
			width: 100%;
			padding: 0;
			max-width: 100%;
			order: 1;
		}

		&__image-column {
			order: 0;
			width: 100%;
			margin-bottom: $spacing-4xl;
		}

		&__image-wrapper {
			width: 100%;
		}

		&__image {
			width:  100% !important;
		}

	}
}
