.hero {
	padding-top: 80px;	
	position: relative;
	background: linear-gradient(
		to right,
		#2D344F,
		#5C7DB9,
		#88C1ED
	);

	&__content {
		padding: $spacing-5xl 0;
		background: $white;
		border-radius: 20px 20px 0 0;
	}

	.container {
		display: flex;
	}

	&__text-column {
		display: flex;
		flex-direction: column;
		justify-content: center;
		width: 50%;
		gap: $spacing-md;
	}

	&__image-column {
		position: relative;
		display: flex;
		align-items: center;
		justify-content: center;
		width: 50%;
		height: auto;
	}

	&__image-wrapper {
		position: relative !important;
		display: flex;
		align-items: center;
		justify-content: center;
		top: 0;
		right: 0;
		width: 100%;
		height: auto;
		overflow: hidden;
	}

	&__image {
		position: relative !important;
		display: block;
		height: auto !important;
		margin: 0 auto;
	}

	/* --- Desktop moyen (≤ 1280px) --- */
	@media (max-width: $breakpoint-lg) {
		&__text-column .container {
			padding: 0 $container-padding-x-tablet;
		}
	}

	/* --- Tablette (≤ 1024px) --- */
	@media (max-width: $breakpoint-md) {
		min-height: auto;

		.container {
			grid-template-columns: 1fr;
			min-height: auto;
		}

		&__text-column .container {
			padding: 0 $container-padding-x-tablet;
		}
	}

	/* --- Mobile (≤ 768px) --- */
	@media (max-width: $breakpoint-sm) {
		position: relative;
		padding: 0;
		margin-top: 0;
		background-color: $white;
		padding: $spacing-3xl 0 0;

		.container {
			position: relative;
			display: flex;
			align-items: center;
			justify-content: center;
			flex-direction: column-reverse;
		}


		&__text-column {
			position: relative;
			width: 100%;
			padding: 0;
			max-width: 100%;
			order: 1;

			margin-bottom: $spacing-3xl;
		}

		&__image-column {
			order: 0;
			width: 100%;
		}

		&__image-wrapper {
			width: 100%;
		}

		&__image {
			width:  100% !important;
		}

	}
}
